.explorer, 
.edge,
.firefox,
.safari,
.chrominum{
    background-color: cornsilk;
    border: solid, 1px black;
    display: none;
    margin: 20px;
    padding: 5px;
}

/** Internet Explorer */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .explorer {
    display: block;
    }
}
    
/** Microsoft Edge */
@supports (-ms-ime-align: auto) {
    .edge {
    display: block;
    }
}
    
/** Mozilla Firefox */
@-moz-document url-prefix() {
    .firefox {
    display: block;
    }
}
    
/** Safari */
@media not all and (min-resolution: 0.001dpcm) {
    .safari{
    display: block;
    }
}
    
/** Chrominum */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .chrominum:not(*:root) {
    display: block;
    }
}